.sidebar {
  background-color: #E0E0E0;
  width: 240px;
  min-height: 100vh;
  position: fixed;
  border-radius: 0 20px 20px 0;
  top: 0;
  left: 0;
  padding: 35px 20px;
}
.sidebar-logo {
  color: var(--tertiary-color);
  font-weight: 700;
}
.sidebar-logo span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 15px 30px 0;
}

.sidebar-menu-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.sidebar-menu-list {
  list-style: none;
}
.sidebar-menu-item {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fafafa;
  color: var(--text-color-2);
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}
.sidebar-menu-item i {
  font-size: 1.5rem;
  margin-right: 15px;
}
.sidebar-menu-item:hover, .active {
  color: var(--primary-color);
  background-color: #CFD0DD;
}


