
.sidebar {
  width: 400px;
  border-radius: 20px;
  display: flex;
  background-color: #EAEAEA;
  padding: 20px;
  height: 100vh;
  /* position: fixed;
  left: 30px;
  top: 100px;
  bottom: 30px; */
}
.sidebar-chats {
  flex: 1;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.chat-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: default;
}
.btn-new {
  border-radius: 30px;
  width: max-content;
  margin-bottom: 25px;
  padding: 10px 20px;
}
.btn-return {
  border-radius: 30px;
  border: 1px solid var(--text-color-4);
  background-color: #fff;
  padding: 6px;
  color: var(--tertiary-color);
}
.btn-return:hover {
  border: 1px solid var(--tertiary-color);
  box-shadow: 0 0 15px rgba(52, 61, 193, 0.3);
}
.btn-new, .btn-return {
  display: flex;
  align-items: center;
}
.btn-new i, .btn-return i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.btn-return i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-4);
  color: var(--tertiary-color);
  display: grid;
  place-items: center;
}

.chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin: 15px 0px;
}
.chat::-webkit-scrollbar {
  width: 4px;
}
.chat-header {
  padding: 10px 10px 0px 10px;
}
.chat-footer {
  padding: 0px 10px 10px 10px;
}
.chats-list h4, .chats-number {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color-1);
  margin-bottom: 10px;
}
.chats-number {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.chats-number i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.chats-list ul {
  list-style: none;
}
  
.chats-list ul li {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid var(--text-color-4);
}
.chats-list ul li:hover {
  /* border: 1px solid var(--tertiary-color); */
  box-shadow: 0 0 10px rgba(52, 61, 193, 0.2);
}
.chats-list ul li a {
  text-decoration: none;
}
.chat-info, .chat-info-text {
  display: flex;
  flex-direction: column;
}
.chat-info p {
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: 500;
}
.chat-info-text span {
  font-size: 0.9rem;
  color: var(--text-color-3);
  line-height: 1;
  margin: 5px 0px;
}
.chat-info-text h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-1);
  line-height: 1;
}
.chat-info-perfil {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.chat-info-perfil img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin-right: 10px;
}

.chat-empty {
  color: var(--text-color-5);
  font-weight: 500;
  max-width: 250px;
}



