.image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.placeholder {
  display: block;
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.main-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.d-none {
  display: none;
}
