<nav class="navbar">
  <div routerLink="/dashboard/home" class="navbar-logo">
    <!-- <img src="./assets/images/logo.png" alt="Logo"> -->
    <p><span>SW</span>Cotizador</p>
  </div>
  <ul class="navbar-items">
    <li class="navbar-item">
      <img src="./assets/icons/ic-notifications.png" alt="Notificaciones"/>
    </li>
    <li class="navbar-item">
      <img src="./assets/icons/ic-settings.png" alt="Configuraciones"/>
    </li>
    <li class="navbar-item">
      <button class="btn-logout">Cerrar Sesión</button>
    </li>
  </ul>
</nav>
