<footer class="footer">
  <div class="footer-pages">
    <h4 class="footer-title">Páginas</h4>
    <p class="footer-paragraph">Inicio</p>
    <p class="footer-paragraph">Productos</p>
    <p class="footer-paragraph">Sobre nosotros</p>
    <p class="footer-paragraph">Precio</p>
    <p class="footer-paragraph">Contacto</p>
  </div>
  <div class="footer-developers">
    <h4 class="footer-title">Desarrollado por</h4>
    <p class="footer-paragraph">Benjamin Condori Vasquez</p>
    <p class="footer-paragraph">Juan Pablo Rodriguez Gutierrez</p>
    <p class="footer-paragraph">Jose Alejandro Calzadilla Nogales</p>
    <p class="footer-paragraph">Pablo Alexis Lijeron Añez</p>
    <p class="footer-paragraph">Jhon Jhorge Montoya Flores</p>
    <p class="footer-paragraph">Carlos Andres Vargas Muyuro</p>
  </div>
  <div class="footer-contact">
    <div class="footer-location">
      <div class="footer-icon">
        <img src="./assets/icons/ic-location.png" alt="img-location"/>
      </div>
      <p class="footer-paragraph">Santa Cruz de la Sierra</p>
    </div>
    <div class="footer-phone">
      <div class="footer-icon">
        <img src="./assets/icons/ic-phone.png" alt="img-phone"/>
      </div>
      <p class="footer-paragraph">+591 77551134</p>
    </div>
    <div class="footer-social">
      <img src="./assets/icons/ic-twiter.png" alt="img-twiter"/>
      <img src="./assets/icons/ic-facebook.png" alt="img-facebook"/>
      <img src="./assets/icons/ic-linkendin.png" alt="img-linkendin"/>
    </div>
  </div>
</footer>