.container-chat-ia {
  display: flex;
  max-height: calc(100vh - 80px); 
}

.container-body {
  flex: 1;
  margin: 0 20px;
  overflow-y: auto;
  border-radius: 5px;
}
.container-body::-webkit-scrollbar {
  display: none;
}

.container-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 30px;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}


