<div class="container-chat-ia">
  <div class="container-body">
    <div class="container-images">
      <div class="images" *ngFor="let imagen of data?.images">
        <img (click)="openImageModal(imagen)" [src]="imagen" alt="imagen" />
      </div>
    </div>
    <p>
      Chat id: {{ data?.id }} <br />
      Cotización de Construcción de Propiedades
      
      <!-- {{ data?.data }} -->
    </p>
    <div [innerHTML]="data?.data"></div>
  </div>

  <app-image-viewer
    *ngIf="imageUrl"
    [imageUrl]="imageUrl"
    (closeModal)="closeImageModal()"
  ></app-image-viewer>
</div>
