.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .title {
    font-family: "Inter", sans-serif;
    color: #181c32;
  }
  .subtitle {
    font-family: "Inter", sans-serif;
    color: #a1a5b7;
  }
