@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #343EC1;
  --secondary-color: #1A3A78;
  --background-color: #F5F2F2;
  --text-color-1: #1B1B1B;
  --text-color-2: #747474;
}


