.register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: var(--background-color);
  min-height: 100vh;
}

.register-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 80px;
  width: 50%;
}

.register-left {
  background-image: url('src/assets/images/img-register.png');
  background-size: cover;
  background-position: center;
  width: 50%;
}

.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid var(--text-color-4);
  border-radius: 10px;
  padding: 50px 40px;
  box-shadow: 0 0 10px rgba(52, 61, 193, 0.1);
  width: 100%;
}

.register-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--text-title);
}

.register-description {
  font-size: 1rem;
  color: var(--text-color-2);
  margin-bottom: 20px;
  line-height: 1.2;
}

.register-form {
  width: 100%;
}

.register-form p {
  color: var(--text-label);
  font-size: 1rem;
}

.register-form p a {
  text-decoration: none;
  color: var(--primary-color);
}
.register-form p a:hover {
  text-shadow: 0 0 10px rgba(52, 61, 193, 0.2);
}


/* Media query para pantallas más pequeñas */
@media (max-width: 1050px) {
  .register {
    flex-direction: column;
  }

  .register-left,
  .register-right {
    width: 100%;
  }
  
  .register-right {
    padding: 100px 150px;
  }
}

@media (max-width: 768px) {
  .register-right {
    padding: 60px;
  }

  .register-content {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .register-right {
    padding: 30px;
  }
  
  .register-content {
    padding: 20px;
  }
}


